<!--<body>
    {% if not hide %}
        <p>Hel22l44o!!!</p>
        <p>Question</p>
        <p>{{ question }}</p>
        {% if show %}
            <p>Answer</p>
            <p>{{ answer }}</p>
        {% endif %}
    {% endif %}

    <script>
        setTimeout(function(){
            window.location.reload(1);
        }, 1000);
    </script>
</body> -->



<html>
<head>
    <meta name="bg" content="width=device-width, initial-scale=1">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .jautajums {
            position: absolute;
            top: 380px;
            left: 120px;
            right: 120px;
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            color: #FFFFFF;
        }

        .atbilde {
            position: absolute;
            top: 630px;
            left: 400px;
            right: 400px;
            text-align:center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 60px;
            color: #FFFFFF;
        }

    </style>
</head>


<body>
{% if not hide %}

    <div class="container">
        <img src="{{ asset('image.png') }}" alt="bg"  style="width:100%;">
        <div class="jautajums">{{ question }}</div>
        {% if show %}
            <div class="atbilde">{{ answer }}</div>
        {% endif %}
    </div>
{% endif %}
    <script>
        setTimeout(function(){
        window.location.reload(1);
        }, 1000);
    </script>

</body>
</html>