body {
    margin: 0;
}
canvas {
    margin: 0 auto;

    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span {
    display: block;
    margin: 30px auto;
    width: 500px;
    text-align: center;
}
h2 {
    text-align: center;
}

body {
    background-color: rgb(255,222,0);
    height:1300px;
}

#welcome-button {
    height: 65px;
    width: 300px;
    background-image: url("/games/basketball/assets/images/button.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 600px;
    left: 120px;
}

#name {
    position: relative;
    top: 510px;
    left: 30px;

    height: 60px;
    width: 400px;
    /*text-indent:80px;*/
    text-align: center;
    font-size:24px;
}

#welcome-button:hover {
    cursor: pointer;
}


#welcome {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("/games/basketball/assets/images/welcome.png");
    background-repeat: no-repeat;
    background-size: contain;


    height: 900px;
    width: 450px;

}