
.thumb {
    background: 50% 50% no-repeat;
    width: 100%;
    height: 100%;
    border: solid 3px black;
    widht:250px;
}

.thumba {
    display: block;
    width: 100%;
    height: 100%;
    width: 250px;
    min-height: 250px;
}

@media only screen and (max-width: 767px) {
    .card {
        align-items: center !important;
    }
}