.name {
    background-color: #ffdc00;
    margin: 5px;
    height:80px;
    line-height: 80px;
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
}

.score {
    background-color:#ff4171;
    margin: 5px;
    height:80px;
    line-height: 80px;
    font-family: "Arial";
    font-size: 35px;
    font-weight: bold;
}

.highscores {
    width: 470px;
}

#justplayed-lead-head {
    max-width:100%;
}

#lead-head {
    max-width:100%;
}
