<div class="container">
    <div class="row">
        <div class="col-3">
            <img style="width:100%" src="games/cals.gif">
        </div>
        <div class="col-9">
            <p>
                A simple lock & key puzzle platformer game made using Unity. Exploring the 2D physics engine,
                object collisions, transform modifications and simple see sources<a href='smth'> link</a> </br>
            </p>
        </div>
    </div>
</div>


