<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <ul>
        {% for tweet in tweets %}
            <li><button class="submit-tweet">❤️</button> <span>{{ tweet }}</span></li>
        {% endfor %}
    </ul>

    <script>
        $(document).ready(function () {
            $('.submit-tweet').click(function () {
                var tweetRow = $(this).parent('li');
                var data = {tweet: $(this).siblings('span').html()};
                $.ajax({
                    type: "POST",
                    url: "/laumaryn/user_choice",
                    data: data,
                    success: function (response) {
                        tweetRow.remove();
                    }
                });
            });
        });
    </script>
</body>

