{% extends "game/base.html.twig" %}

{% block body %}
    <div class="h-100 row align-items-center justify-content-center">
        <div class="col-6">

            <b>GAME IS ON</b>
            <p>
                Game name is: {{ gameName }}</br>
                Game code is: {{ gameCode }}</br>
                Your name is: {{ userName }}
            </p>

            <p>
                <h3>Users in this game</h3>
                <ul id="user-list">
                    {% for user in game.getUsers %}
                        <li class="user-name-li" data-userName="{{ user.getName|e }}">{{ user.getName|e }}</li>
                    {% endfor %}
                </ul>
            </p>


            <input id="user-name-hidden" type="hidden" value="{{ userName }}">
            <input id="game-code-hidden" type="hidden" value="{{ gameCode }}">
            {% include "game/partials/trivia.html.twig" %}
        </div>
    </div>
{% endblock %}



{% block javascripts %}
    <script>
        const eventSource = new EventSource('https://cramped.space/hub?topic=' + encodeURIComponent('game{{ game.getCode }}'));
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            GameScreen.parseResponse(JSON.parse(event.data))
            console.log(JSON.parse(event.data));
        }
    </script>
{% endblock %}