{% extends "game/base.html.twig" %}

{% block body %}

    <div class="h-100 row align-items-center justify-content-center">
        <div class="col-6">

            ITS GAME TIME
            <a href="/game/start">Start new game</a>

            <form name="form" method="POST" action="/game/join">
                <input type="text" placeholder="Enter your name" name="name">
                <input type="text" placeholder="Enter game code" name="gameCode">
                <button type="submit">Join game</button>
            </form>
        </div>
    </div>



{% endblock %}


{% block javascripts %}
    <script>
        const eventSource = new EventSource('https://cramped.space/hub?topic=' + encodeURIComponent('http://example.com/books/1'));
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            GameScreen.parseResponse(JSON.parse(event.data))
            //console.log(JSON.parse(event.data));
        }
    </script>
{% endblock %}