<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container {
            position: relative;
            width: 100%;
        }
        ul{
            position:relative;
        }
        li{
            position:absolute;
            top:0;
            left:0;
        }
    </style>
</head>


<body>
    <div class="tags">
        <div class="row">
            <div class="col">
                <p> Var ari "unclickot" ja klikskina rimbulī nevis uz teksta</p>
            </div>
        </div>
        <div class="row">
            {% for group, pix in pictures %}
            <div class="col">
                <h1>{{ group }}</h1>
                {% for pic in pix %}

                    <label style="cursor: pointer;"><input type="radio" name="{{ group }}" value="{{ pic.name }}">{{ pic.name }}</label><br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>


        <ul class="results">
            {% for group, pix in pictures %}
                {% for pic in pix %}
                    <li class="{{ pic.name }}">
                        <div style="position:absolute; top: 0px; left: 100px">
                            <img src="{{ pic.file }}" style="width:500px;"/>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}

        </ul>
    </div>

<script>
    $(document).ready(function () {



        $('.results > li').hide();

        $('div.tags').find('input:checkbox').on('click', function () {
            console.log("Check clicked");
            $('.results > li').hide();
            $('div.tags').find('input:checked').each(function () {
                console.log('.results > li.' + $(this).val())

                $('.results > li.' + $(this).val()).show();
            });
        });




        $('div.tags').find('input:radio').on('click', function () {
            $('.results > li').hide();

            if ($(this).data('wasChecked')) {
                $(this).prop('checked', false);
                $(this).data('wasChecked', false);
            }

            $('div.tags').find('input:checked').each(function () {
                $('.results > li.' + $(this).val()).show();
            });



        });


        $('div.tags').find('input:radio').on('mousedown', function () {
            $(this).data('wasChecked', $(this).prop('checked'));
        });
    });
</script>
</body>

             
