<!doctype html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>you are home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <style>
        .thumb1 {
            background: url("games/cals_s.gif") 50% 50% no-repeat; /* 50% 50% centers image in div */
            width: 250px;
            height: 250px;
        }
        .thumb1:hover { background: url("games/cals.gif") 50% 50% no-repeat; /* 50% 50% centers image in div */ }

        .thumb2 {
            background: url("games/whisper_s.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            width: 250px;
            height: 250px;
            background-size: 250px auto;
        }
        .thumb2:hover {

            background: url("games/whisper.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            background-size: 250px auto;
        }

        .thumba {
            display: block;
            width: 250px;
            height: 250px;
        }


        .thumb3 {
            background: url("games/shroom_s.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            width: 250px;
            height: 250px;
            background-size: 250px auto;
        }

        .thumb3:hover {
            background: url("games/shroom.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            background-size: 250px auto;
        }

        .thumb4 {
            background: url("games/hyper.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            width: 250px;
            height: 250px;
            background-size: 250px auto;
        }

        .thumb4:hover {
            background: url("games/hyper_s.png") 50% 50% no-repeat; /* 50% 50% centers image in div */
            background-size: 250px auto;
        }

    </style>
</head>
<body>
<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Lightbox Gallery</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row photos">
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/desk.jpg"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/building.jpg"><img class="img-fluid" src="assets/img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/loft.jpg"><img class="img-fluid" src="assets/img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/building.jpg"><img class="img-fluid" src="assets/img/building.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/loft.jpg"><img class="img-fluid" src="assets/img/loft.jpg"></a></div>
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="assets/img/desk.jpg"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
        </div>
    </div>
</div>
<!--
<div class="row" style="height:200px">
</div>

<div class="row">
    <div class="col-2">

    </div>

    <div class="col-2">
        <div class="thumb1"><a class="thumba" href="/games/cals"></a></div>
    </div>
    <div class="col-2"><div class="thumb2"><a class="thumba" href="/secret"></a></div></div>

    <div class="col-2"><div class="thumb3"><a class="thumba" href="/games/shroom"></a></div></div>

    <div class="col-2"><div class="thumb4"><a class="thumba" href="https://github.com/vvolis/CodinGame"></a></div></div>

</div>

-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>






</body>
</html>