<!doctype html>
<!--- http://findmatthew.com/ check this -->

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="{{ asset('css/portfolio.css') }}" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

    <div class="row" style="height:250px;">

    </div>

    <div class="card-deck justify-content-center" style="width:100%;">

        {% for project in projects %}
            <div class="card mb-3 mx-2" style="min-width: 250px; max-width: 250px;">
                <div class="thumb" style="background-image: url('{{ asset(project.img_path) }}')">
                    <div class="thumba" href="{{ project.url }}"
                         data-img-src="{{ project.img_path }}"
                         data-img-alt-src="{{ project.img_alt_path }}"
                         data-url="{{ project.url }}"
                         data-desc="{{ project.description }}"
                         data-title="{{ project.title }}"
                    >
                    </div>
                </div>
            </div>
        {% endfor %}


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p id="modal-desc" class="modal-body">
                    ...
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a id="modal-url-btn" href="" type="button" class="btn btn-primary">Go to site</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


<script src="{{ asset('js/portfolio.js') }}"></script>
