{% extends "base.html.twig" %}

{% block body %}

    <div class="h-100 row align-items-center justify-content-center">
        <div class="col-6">

            {% if posted %}
                <h1>Paldies par noslēpumu!</h1>
                <p>Tā vērtība ir samazināta, un tehniski tas vairs nav noslēpums. Tagad to vari atrast šeit: <a href="https://twitter.com/acciden_secrets">Twitter</a></p>
            {% else %}
                <h3>Ievadi savu noslēpumu šeit:</h3>
                <form class="" method="POST">
                    <div class="form-group mb-2">
                        <input id="secretText" name="text" type="textarea" class="form-control" placeholder="Es reiz..." maxlength="140">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Aprēķināt pievienoto noslēpuma vērtību</button>
                </form>
            {% endif %}
        </div>
    </div>



{% endblock %}