<div id="trivia-block">
    <p id="question">What is ur name</p>
    <p class="trivia-button">A</p>
    <p class="trivia-button">B</p>
    <p class="trivia-button">C</p>
    <p class="trivia-button">D</p>
</div>

<div id="wait-for-others" style="display:none;">
    <p>Gratz u answered. Wait for others</p>
</div>