
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="{{ asset('css/games/basketball/highscore.css') }}" type="text/css" rel="stylesheet" />

</head>


<body>



<div class="highscores">



    <img id="lead-head" src="{{ asset('games/basketball/assets/images/leader.png') }}">
    <div id="rowholder">
    </div>

    <div class="jutplayed">
        <img id="justplayed-lead-head" src="{{ asset('games/basketball/assets/images/izspeleja.png') }}">
        <div id="justplayed-rowholder">
        </div>
    </div>

</div>


</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script>

    const eventSource = new EventSource('https://cramped.space/hub?topic=basketball');
    eventSource.onmessage = event => {
        // Will be called every time an update is published by the server
        readHighScores(JSON.parse(event.data))
    }

    const eventSource2 = new EventSource('https://cramped.space/hub?topic=basketball_last');
    eventSource2.onmessage = event => {
        // Will be called every time an update is published by the server
        readLast(JSON.parse(event.data))
    }

    function readLast(data)
    {
        var html = "<div class=\"row\">\n" +
            "                <div class=\"col-8 name text-center\"><span>" + data[0] + "</span></div>\n" +
            "                <div class=\"col-3 score text-center\"><span>" + data[1] + "</span></div>\n" +
            "            </div>";


        $("#justplayed-rowholder").html(html);
    }

    function readHighScores(data)
    {
        var html = ""

        for(var i = 0; i < data.length; i++){

                console.log(data[i]);
                html += "<div class=\"row\">\n" +
                    "                <div class=\"col-8 name text-center\"><span>" + data[i][0] + "</span></div>\n" +
                    "                <div class=\"col-3 score text-center\"><span>" + data[i][1] + "</span></div>\n" +
                    "            </div>";
        }
        html += "";

        $("#rowholder").html(html);
    }

    $(document).ready(function(){
        var data = {{ scores|json_encode|raw }};
        readHighScores(data)
    });

</script>