.trivia-button {
    width: 30px;
    height: 30px;
    border: solid red;
    cursor: pointer;
}

.trivia-button.clicked {
    background-color: blue;
}

.user-name-li.answered {
    background-color: green;
}